<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title JWCALC - Assistente para Gerenciamento das Contas da Congregação</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="~/Imagens/Logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    @Html.ActionLink("JWCALC - Assistente para Gerenciamento das Contas da Congregação", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </a>
            </nav>
        </div>
        <div class="container">
            <nav class="navbar navbar-dark bg-dark">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>*@
                @Html.ActionLink("JWCALC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="textoNavbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            @Html.ActionLink("Donativo", "Index", "Home", new { area = "" }, new { @class = "nav-link" })<span class="sr-only">(Página atual)</span></a>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Tipo de Recibos", "TipoRecibosVM", "Home", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Extratos", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tipo de Recibos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                @Html.ActionLink("Incluir Tipo", "CadTipoRecibosVM", "Home", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Visualizar Todos", "TipoRecibosVM", "Home", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
